.DS_Store
.idea
*.log
tmp/
proof.data
build/
build-web/
sdk/cpp/build/
sdk/rust/target/
Cargo.lock
.clangd
**/.vscode
.portable
ligero-bins.tar.gz
utils/ligero-webgpu-runner/target
utils/circuits/**/target/
utils/circuits/bins/
utils/ligero-webgpu-runner/proof_outputs/